@import '../../SCSS/Fonts/fonts';
@import '../../SCSS/colors';

.container{
  width: 320px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.skills{
  margin-top: 42px;
  margin-bottom: 42px;
  width: 320px;
  font-family:heavy;
  padding-left: 10px;
  color : lighten($black-v0,60%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
}

.text{
  margin-left: 10px;
  font-weight: 800;
  font-size :20px;
  color:lighten($black-v4,20%);
}
