<div class="container">
  <div class="text" style="font-size:20px;font-weight:800;">My Toolbox: </div>
<div class="skills">
<div class="text">Programming Languages: </div>
<div  *ngFor="let item of skills.languages">
  {{item}}
</div>
</div>



<div class="skills">
  <div class="text">Web Development:</div>
<div  *ngFor="let item of skills.web">
  {{item}}
</div>
</div>


<div class="skills">
  <div class="text">Computer Science Subjects:</div>
<div *ngFor="let item of skills.subjects">
  {{item}}
</div>
</div>

</div>


