<div class="container">
  <div class="text" style="font-size:20px;font-weight:800;   padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid red;
  border-radius: 5px;">My Toolbox: </div>
<div class="skills">
<div class="text"><li>Programming Languages:</li> </div>
<div  *ngFor="let item of skills.languages, let i = index">
  <li class="square">{{item}}</li>
</div>
</div>



<div class="skills">
  <div class="text"><li>Web Development: </li></div>
<div  *ngFor="let item of skills.web, let i = index">
<li class="square">{{item}}</li>
</div>
</div>


<div class="skills">
  <div class="text"><li>Computer Science Subjects: </li></div>
<div *ngFor="let item of skills.subjects, let i = index">
  <li class="square">{{item}}</li>
</div>
</div>

</div>


