@import '../../SCSS/colors';
.footer{
  width: 90px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  position: fixed;
  top: 40px;
  right: 0;
  // display:none;
}
