<header>
  <nav class="header">
    <app-links class="arrow"
     (out)="navigateToHome()">
     >
    </app-links>

    <div class="pages">
      <app-links  (out)="navigateToEducation()">
        Education
      </app-links>
      <app-links  (out)="navigateToSkills()">
        Technical Skills
      </app-links>
      <app-links  (out)="navigateToProjects()">
        Projects
      </app-links>
      <app-links  (out)="navigateToExperience()">
        Experience
      </app-links>
      <app-links  (out)="navigateToContact()">
        Contact Details
      </app-links>
      <app-links>
        Theme Switch
        </app-links>
    </div>

    <div>
      <app-burger></app-burger>
    </div>

  </nav>
</header>
