@import '../../SCSS/Fonts/fonts';
@import '../../SCSS/colors';

.container{
  // background-color: green;
  width: 320px;
  margin-top: 100px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 30px;
  width:100%;
  align-items: center;
}

.text{
  margin-left: 10px;
  font-weight: 800;
  font-size :18px;
  color:lighten($black-v4,20%);
}
.cards{
  margin-top: 20px;
  margin-bottom: 60px;
  width: 320px;
  color : lighten($black-v0,60%);
  display: flex;
  font-weight: 100;
  font-size: 16px;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
}
img{
  width: 300px;
  height: 300px;
}

