$black: hsl(0,0,0);   //darkest
$black-v0 : #303030;  //lightest
$black-v1 : #121212;  //light
$black-v2 : #0B0B0C;  //darker
$black-v3 : #0E0E10;  //dark-greyish
$black-v4 : #2B2B2B;  //lighter
$black-v5 : #1F1F1F;  //lighter-greyish
$black-v6: #1B1C1E;   //light-greyish
