<div class="h"> We can talk about Software Development, Books, Music, Movies, and Cricket. </div>

<section class="contact">
  <div class="social-links">
      <a href="https://www.linkedin.com/in/sourav-suryawanshi" >
        <img class="linkedin"
        src="../../../assets/LinkedIn_Rounded_Solid_icon-icons.com_61559.png"
        alt="linkedin"
        >
      </a>

      <a href="https://github.com/souravsuryawanshi">
        <img class="github"
        src="../../../assets/Github_icon-icons.com_49946.png"
        alt="github"
        >
      </a>

      <a href="#">
        <img class="slack"
        src="../../../assets/slack_black_logo_icon_147081.png"
        alt="slack"
        >
      </a>
  </div>

  <a class="email" href="mailto:ssuryawanshi1028@gmail.com">
    <img class="mail"
    src="../../../assets/chat_circle_bubble_message_icon_149512.png"
    alt="Email"
    >
  </a>

</section>
