<div class="h"> We can talk about Software Development, Books, Music, Movies, and Cricket. </div>

<section class="contact">
  <div class="social-links">
      <a href="https://www.linkedin.com/in/sourav-suryawanshi" >
        <img class="linkedin"
        src="../../../assets/asset/linkedin_logo_icon_186926.png"
        alt="linkedin"
        >
      </a>

      <a href="https://github.com/souravsuryawanshi">
        <img class="github"
        src="../../../assets/asset/github-logo_icon-icons.com_73546.png"
        alt="github"
        >
      </a>

      <a href="https://www.instagram.com/souravsuryawanshi/">
        <img class="instagram"
        src="../../../assets/asset/instagram_logo_icon_186929.png"
        alt="instagram"
        >
      </a>



      <a href="https://t.me/say_sourav">
        <img class="telegram" src="../../../assets/asset/telegram_logo_icon_186924 (1).png" alt="telegram">
     </a>




  </div>

  <a class="email" href="mailto:ssuryawanshi1028@gmail.com">
    <img class="mail"
    src="../../../assets/asset/chat_circle_bubble_message_icon_149512.png"
    alt="Email"
    >
  </a>

</section>
