@import '../../SCSS/Fonts/fonts';
@import '../../SCSS/colors';

.container{

  margin-top: 100px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  padding-top: 10px;
  padding-bottom: 30px;
}

.text{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid turquoise;
  border-radius: 5px;

  margin-left:10px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 800;
  font-size :20px;
  color:lighten($black-v4,20%);
}

.square{
  list-style-type: square;
}

.education{
  width: 320px;


  display: flex;
  flex-direction: column;
  // align-items: center;

  padding-right: 10px;

  font-family:heavy;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  color : lighten($black-v0,60%);
  line-height: 1.7;
}
