/* You can add global styles to this file, and also import other style files */
@import './app/SCSS/Fonts/fonts';
@import './app/SCSS/colors';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


body{
 font-family: 'semibold';
 background-color: $black-v1;
 width: 100%;
 height: 100%;
}

//bold , regular, thin, heavy, light, latoblack, semibold, italic, hairline
