@font-face {
    font-family: 'latoblack';
    src: url('./lato-black-webfont.woff2') format('woff2'),
         url('./lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'italic';
  src: url('./lato-blackitalic-webfont.woff2') format('woff2'),
       url('./lato-blackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bold';
  src: url('./lato-bold.woff2') format('woff2'),
       url('./lato-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hairline';
  src: url('./lato-hairline.woff2') format('woff2'),
       url('./lato-hairline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'thin';
  src: url('./lato-thin.woff2') format('woff2'),
       url('./lato-thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'semibold';
  src: url('./lato-semibold.woff2') format('woff2'),
       url('./lato-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'regular';
  src: url('./lato-regular.woff2') format('woff2'),
       url('./lato-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'medium';
  src: url('./lato-medium.woff2') format('woff2'),
       url('./lato-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'light';
  src: url('./lato-light.woff2') format('woff2'),
       url('./lato-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'heavy';
  src: url('./lato-heavy.woff2') format('woff2'),
       url('./lato-heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
