// @font-face {
//     font-family: 'latoblack';
//     src: url('./lato-black-webfont.woff2') format('woff2'),
//          url('./lato-black-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
  font-family: 'semibold';
  src: url('./lato-semibold.woff2') format('woff2'),
       url('./lato-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'regular';
  src: url('./lato-regular.woff2') format('woff2'),
       url('./lato-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}







@font-face {
  font-family: 'heavy';
  src: url('./lato-heavy.woff2') format('woff2'),
       url('./lato-heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
