<section class="about">
  <div class="img-frame">
    <img class="img" src="../../../assets/WhatsApp Image 2022-03-15 at 23.30.06.jpeg" >
  </div>

  <div class="name">
    Sourav
  </div>

  <div class="profile">
    Software Developer | Minimalist
    <!-- Can add Optimistic as well -->
  </div>

  <div class="description">
    <p>
      Hi! I am Sourav Suryawanshi, a Computer Science Undergrad, and a lifelong learner who eventually developed an avid interest for Coding and Software Development.
    </p>
    <!-- <p>
     Other than technology, we can talk about Books, Music, Movies, and Cricket.
    </p>
    <p>
      Also, I love travelling to places. Always ready for opportunities and to help others.
    </p> -->
  </div>
  <div class="dummy">
  </div>
</section>

